<div class="row">
  <div class="col-md-6">
    <h2>Favorites</h2>
    <ul>
    <% if resource.favs.each do |fav| %>
      <li><%= link_to fav.name, fav %></li>
    <% end.blank? %>
      You have no favorites ☹
    <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <%= render 'devise/registrations/edit'  %>
  </div>
</div>

<%= link_to "Back", :back %>
